@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v8742c');
	src:url('fonts/icomoon.eot?v8742c#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?v8742c') format('truetype'),
		url('fonts/icomoon.woff?v8742c') format('woff'),
		url('fonts/icomoon.svg?v8742c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stellina:before {
	content: "\e801";
}
.icon-faccina:before {
	content: "\e800";
}

