/* ADD CSS RULES */


.site-header {
  background-color: #ccc;
}


.site-main {
  padding: 0 10px;
}

.show-detail {
  overflow: auto;
  background-color: #eaeaea;
  font-size: 0.85rem;
}

.show-detail > aside {
  float: left;
  width: 270px;
}

.show-detail .show-info {
  float: left;
  width: 670px;
  padding: 0 20px;
}

.show-detail .show-info {
  float: left;
}

.show-title {
  color: #333;
  font-size: 30px;
  font-weight: normal;
}

.show-icon .icon-stellina {
  color: #999;
}

.show-icon .icon-stellina.active {
  color: rgb(255, 161, 0);
}

.show-icon .icon-stellina:hover {
  color: rgb(14, 159, 42);
  transition: 1s;
}

.show-toolbar {
padding: 5px 0;
margin: 5px 0;
border: 1px solid #ccc;
box-shadow: 0 1px #fff;
border-radius: 7px;
}

.show-toolbar li {
list-style-type: none;
display: inline;
padding: 0 10px;
}


.show-info h3 {
  font-size: 1rem;
}

.show-info dl {

}

.show-info dt{
  float: left;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show-info dd{
  margin-left: 180px;

}
