.site-header {
  background-color :rgb(6, 138, 126);
}
.show-title {color: rgb(46, 60, 57);
  font-size: 30px;
  font-weight: bold;
}
.site-main {
  padding: 0 10px;
}
.show-detail {
  overflow: auto;
  background-color: #eaeaea;
}
.show-detail > aside {
  float: left;
  width: 270px;
  border: solid 1px red;
}
.show-toolbar {
  padding: 5px 0;
  margin: 5px 0;
  border: solid 1px #ccc;
  box-shadow: 0 1px #FFF;
  border-radius: 7px;
}
.show-toolbar li {
  display :inline;
  list-style-type: none;
  padding: 0 7px;
}

.show-detail .show-info {
  float: left;
  width: 670px;
  padding: 0px 20px;
}
.show-star .icon-star {
  color: #ccc;
}
.show-star .icon-star.active {
  color: rgb(244, 234, 17);
}
.show-star .icon-star:hover {
  color: rgb(244, 234, 17);
}
