@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?st4iwl');
	src:url('fonts/icomoon.eot?st4iwl#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?st4iwl') format('truetype'),
		url('fonts/icomoon.woff?st4iwl') format('woff'),
		url('fonts/icomoon.svg?st4iwl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stella:before {
	content: "\e800";
}
.icon-book:before {
	content: "\e801";
}

